<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://hackaton-database-do-user-10748784-0.b.db.ondigitalocean.com:25060/defaultdb</property>
        <property name="hibernate.connection.username">developer2</property>
        <property name="hibernate.connection.password">AVNS_-_TuLgEK5Im5VET</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="use_sql_comments">true</property>
        <mapping class="ru.dinz.model.Filial" />
        <mapping class="ru.dinz.model.User" />
        <mapping class="ru.dinz.model.PDF" />
    </session-factory>
</hibernate-configuration>